 @import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Josefin+Sans:wght@100&family=Nunito:wght@200&family=Pacifico&family=Poppins:ital,wght@0,400;1,300&display=swap');

 body{
  margin: 0;
  padding: 0;
  font-family: 'Croissant One', serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.5s ease;
  background-color: #0d0254;
}
span{
  color: rgb(18, 196, 255);
  font-weight: bold;
}
/*-----Heading styling----*/
.navbar{
  width: 100%;
  height: 75px;
  position: fixed;
  z-index: 500;
  background-color: #0d0254; ;
}
.myself{
  margin-top: 100px;
}
.navbar-brand{
  font-size: 25px;
  font-weight: bolder;
  color: white;

}
.abish{
  color: red;
}
li{
  padding: 8px;
}
.nav-link{
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
  margin-right: 80px;
  color: white;
}
.nav-link:hover{
  border-bottom: 2px solid rgb(18, 196, 255);
  color: rgb(18, 196, 255);
  transition: 2s;
}
.sectionA{
  
  min-width: 100vh;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.card {
  background: #171c29;
  width: 300px;
  height: 400px;
  padding: 3px;
  border-radius: 6px;
  display: flex;
  margin: 25%;
  color: rgb(88, 199, 250/ 0%);
  cursor: pointer;
  font-family: cursive;
  background-image: url("about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 3s;
}

.card:hover {
  width: 300px;
  height: 400px;
  color: rgb(88, 199, 250/100%);
  transition: color 1s;
}
.card:hover::before, .card:hover::after {
  animation: none;
  opacity: 0;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate),#5ddcff,#3c67e3 43%,#4e00c2);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
  box-shadow: 0 0 80px rgb(128, 43, 255);
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(400px)/6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height)/6));
  background-image: linear-gradient(var(--rotate), #5ddcff ,#3c67e3, #4e00c2);
  opacity: 1;
  transition:  0.5s;
  animation: spin 2.5s  linear infinite;
}

@keyframes spin {
  0% {
      --rotate:0deg;
  }
  100% {
      --rotate:360deg;
  }
}

a {
  color: #000000;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}
.box-fluid{
  position: relative;
  height: 400px;
  width: 300px;
  margin-top: 80px;
  background-color: black;
  border-radius: 25px;
  overflow: hidden;
  margin-top: 150px;
}
.box-fluid::before{
  content: '';
  position: absolute;
  height: 150%;
  width: 60px;
  margin-left: 30%;
  margin-top: -100px;
  background-color: rgb(18, 196, 255);
  box-shadow: 0 0 10px rgb(33, 111, 132);
  animation: animate 4s ease-in-out infinite;
}
.box-fluid::after{
  content: '';
  position: absolute;
  inset: 10px;
  background-image: url("logo\ img.png");
  background-size: cover;
  background-color: rgb(4,75,97);
  border-radius: 16px;
}
@keyframes animate{
  50%{
    border-color: lightblue;
  }
   50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.myself{
  color: rgb(255, 255, 255);
  margin-left: 10%;
  font-style: italic;
}
.itsme{
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-style: italic;
  margin-left: 10%;
  letter-spacing: 1px;
}
.typing{
  color: rgb(18, 196, 255);
  text-shadow: 10px 5px 10px rgb(4, 198, 251);
}
.cv a{
  text-decoration: none;
  color: rgb(253, 253, 253);
}

.cv{
  border-radius: 15px;
  background-color: rgb(11, 5, 124);
  box-shadow: 10px 5px 10px rgb(4, 198, 251);
  margin-left: 10%;
  width: 150px;
}
.social-icons ul li{
  display: inline-block;
  padding: 2px;
  margin-left: 40px ;
}
/*----About section---*/
.abt1{
  color: white;
}
.abt2{
  color: white;
}
.about{
  color: rgb(255, 255, 255);
  font-style: italic;
  margin-top: 1%;
}
.abtcontent{
  margin-left: 80px;
  color: white;
}
/*---------------Skills Section--------------*/
.tech{
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  margin-left: 50px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.candidatos{
  position: relative;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}
.candidatos .parcial{
  display: inline-block;
  width: 100%;
  vertical-align:middle ;
}
.candidatos .parcial .info{
  position:relative ;
  font-family: 'Poppins', sans-serif;
}
.candidatos .parcial .info .nome{
  position: absolute;
  font-family: 'Poppins', sans-serif;
  top: 0;
  left: 0;
  font-size: 15px;
  font-weight: 400;
  opacity: 0.9;
  color: white;
}
.candidatos .parcial .info .nome .percentage-num{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  font-weight: normal;
  margin-left: 450px;
  color: white;
}
.percentage-num{
  margin-left: 350px;
  color: white;
  
}
.candidatos .parcial .progressBar{
  position: relative;
  width: 100%;
  height: 7px;
  margin: 30px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
}
.candidatos .parcial .percentagem {
  position: absolute;
  top: 0;
  left: 0;
  height: 7px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #0bceaf;
  transition: 2s all;
  animation: animationProgress 2s; 
  font-family: 'Poppins', sans-serif;
}
@keyframes animationProgress {
  from {
    width: 0; 
  }
  to {
    width: 80%; 
  }
}

.skill-content{
  width: 400px;
  height: 600px;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgb(18, 196, 255);
  margin-left: 10%;
  color: white;
}
/*-------------project section---------------*/
.pro-head{
  margin-left: 40%;
  color: white;
}
.fillter-buttons{
  margin: 2rem;
  text-align: center;
}
.filter-buttons .btn{
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  letter-spacing: .4px;
  margin-left: 1.3rem;
}
.filter-buttons .btn:hover{
  color: aqua;
}
.portfolio-gallary{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(270px,1fr));
}
.port-box{
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background: #292e33;
  grid-template-rows: 1fr auto;
  align-items: center;
  border: 2px solid aqua;
  box-shadow: 0 0 80px rgb(128, 43, 255);
}
.port-image{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
.port-image img{
  width: 100%;
  opacity: .5s;
  height: 100%;
  transition: .5s;
}
.port-content{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: white;
  background: linear-gradient(rgba(0,0,0,.2),#12f7ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.5s;
  padding: 0.2rem;
}
.portfolio-gallary{
  margin-left: 15%;
}
.port-box:hover .port-content{
  opacity: 1;
}
.port-box:hover .port-image{
  transform: scale(1.1);
}
.port-content h3{
  font-size: 1.5rem;
  font-weight: 600;
}
.port-content p{
  font-size: 0.5rem;
  margin: 5px 0 15px 0;
}
.port-content a{
  background: white;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  outline: 1px solid white;
}
.port-content a i{
  font-size: 1.3rem;
  color: #12f7ff;
}


/*-----------------contact section------------*/
.contact-head{
  margin-left: 40%;
  color: white;
}
.touch{
  margin-left: 30px;
  margin-top: 5px;
  padding: 2px;
  color: white;
}
form {
  margin-top: 20px;
  color: white;
}

label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #171717;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgb(18, 196, 255);
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgb(18, 196, 255);
}

button:hover {
  background-color: #45a049;
}

a {
  color: #0077cc;
}
i{
  color: white;
}
.info-head{
  font-weight: bold ;
  color: white;
}
.info-details{
  margin-left: 30px;
  color: white;
}
.con{
  color: white;
}